<div class="container">
  <div class="bloc1">
    <div class="sous-bloc1">
      <p>&copy; 2023 LocoLove. Tous droits réservés.</p>
    </div>
    <div class="sous-bloc1">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/conditions-generales">Conditions générales d'utilisation</a></li>
        <li class="list-inline-item"><a href="/politique-de-confidentialite">Politique de confidentialité</a></li>
        <li class="list-inline-item"><a href="/mentions-legales">Mentions légales</a></li>
      </ul>
    </div>
  </div>
</div>