<div class="container">
  <div class="bloc1">
    <img class="photoOtherProfil" src="assets/photos/photosandra.JPG" alt="photo d'un profil" />
    <div class="sous-bloc1">
      <p>Sandra, 77 ans</p>
      <img src="assets/images/message.png" alt="icone" />
    </div>

  </div>




  <div class="bloc2">
    <div class="sous-bloc2">
      <h1>Genre:</h1>
      <p>Femelle</p>
    </div>
    <div class="sous-bloc3">
      <h1>Taille:</h1>
      <p>basse</p>
    </div>
    <div class="sous-bloc4">
      <h1>Description</h1>
      <p>Si je dis la verité je suis mort</p>
    </div>


  </div>






</div>
