<div class="container">
  <div class="bloc1">
    <img *ngIf="otherUser?.pictures.length > 0" class="photoOtherProfil" src={{otherUser?.pictures[0].link}} alt="photo d'un profil" />
    <img *ngIf="otherUser?.pictures.length === 0" class="photoOtherProfil" src="assets/images/coeur.png" alt="photo d'un profil" />
    <div class="sous-bloc1">
      <p>{{otherUser?.pseudo}}, {{otherUser?.date_of_birth | date: 'dd/MM/yyyy'}}</p>
      <img src="assets/images/message.png" alt="icone" />
    </div>

  </div>

  <div class="bloc2">
    <div class="sous-bloc2">
      <h1>Genre:</h1>
      <p>{{otherUser?.gender}}</p>
    </div>
    <div class="sous-bloc3">
      <h1>Taille:</h1>
      <p>{{otherUser?.size}}</p>
    </div>
    <div class="sous-bloc4">
      <h1>Description</h1>
      <p>{{otherUser?.description}}</p>
    </div>


  </div>






</div>