<div class="container"> 
  <div class="bloc1"> 
    <form>
      <label for="file-upload" class="custom-file-upload">
        <img id="input_photo" src="assets/images/iconeappareilphoto.png" alt="Upload">
      </label>
          <input id="file-upload" type="file" (change)="onFileSelected($event)" />
    </form> 
  <!-- CARROUSSEL AVEC LES PHOTOS DE L'UTILISATEUR (VARIABLE pictures)  -->

          <img *ngIf="MyUser.pictures.length > 0" class="photo" [src]="MyUser.pictures[0].link" alt="selected image">
          <img *ngIf="MyUser.pictures.length === 0" class="photo" src="assets/images/coeur.png" alt="selected image">
            <p class="pseudo">{{MyUser.pseudo}}, {{MyUser.date_of_birth | date: 'dd/MM/yyyy'}}</p>
  </div>



<!-----------------JE NE TOUCHE A RIEN----------------------------->
  
<div class="bloc2">
  <div class="genreSize">
    <h1>Genre</h1>
    <p>{{MyUser?.gender}}</p>
    <h1>Taille</h1>
    <input type="text" id="size" name="size"[(ngModel)]="sizeUser">
    <img (click)="putUserSize()" class="iconeCrayon" src="assets/images/crayon1.png" alt="icone crayon" />
    <p>{{MyUser?.size}} cm</p>
  </div>
  <div class="description">
    <h1>Description</h1>
    <img (click)="putUserDescription()" class="iconeCrayon" src="assets/images/crayon1.png" alt="icone crayon"/>
    <input type="text" id="description" name="description" [(ngModel)]="descriptionUser">
    <p>{{MyUser?.description}}</p>
  </div>
</div>
<!-- bloc bas -->
<div class="bloc3">
  <div class="numeroTrain">
    <h2>Numéro de train:</h2>
    <img (click)="putUserTrainNumber()" class="iconeCrayon" src="assets/images/crayon1.png" alt="icone crayon" />
    <input type="number" id="trainNumber" name="numerotrain"
      [(ngModel)]="trainNumberUser">
    <p>{{MyUser?.train_number}}</p>
  </div>
  <div class="numeroVoiture">
    <h2>Voiture:</h2>
    <img (click)="putUserCarTrain()" class="iconeCrayon" src="assets/images/crayon1.png" alt="icone crayon"/>
    <input type="number" id="carNumber" name="carNumber" [(ngModel)]="carNumberUser">
    <p>{{MyUser?.car_number}}</p>
  </div>
</div>
</div>