.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 60%;
  margin: 20px 0 0 0;
}
h1 {
  font-family: var(--texteItalianno);
}

.bloc1 {
  background-color: var(--colorWhite);
  padding: 15px 70px;
  margin: 0 0 20px 0;
  
}
.bloc2 {
  background-color: var(--colorWhite);
  padding: 20px 10px;
  align-items: center;
}

.bloc3 {
  background-color: var(--colorWhite);
  padding: 20px 10px;
  align-items: center;
}
