<div class="container">
    <div class="grande_box" *ngIf="otherUser">
        <div class="card">
            <div class="elements">
                <p class="guillemets">''</p>
            </div>
            <div class="photo">
                <img *ngIf="otherUser.pictures[0]" [src]="otherUser.pictures[0].link" alt="hoto">
            </div>
        </div>

        <div class="tchat">
            <!-- afficher les messages reçus du back end -->
            <div class="anciens_messages" *ngFor="let msg of oldMsg" [ngClass]="{'newMessages':msg.isMine}">
                {{msg.content}}
            </div>

            <!-- j'affiche les messages que j'ai précédemment push dans la propriété msg-->
            <div class="mes_messages" *ngFor="let message of msg" [ngClass]="{'newMessages':message.isMine}">
                {{message.content}}
            </div>
        </div>

        <div class="paroles">
            <textarea class="form-control" type="text" placeholder="message" [(ngModel)]="input" rows="2">
            </textarea>
        </div>
        <button (click)="sendMessage()">Envoyer</button>

    </div>
</div>

<!-- notification  -->
<div class="notificationLike" (click)="authService.notificationLike = false"
  [ngClass]="{'notifLike' : authService.notificationLike}">
  Vous avez été liké par {{authService.lastLikePseudo}}
</div>