<!-- <div class="container">
    <div class="grande_box">
        <div class="elements">
            <p class="guillemets">''</p>
        </div>
            <div class="elements photo">
                <img src="assets/photos/photorazzak.png" alt="photo">
            </div>
            <div class="elements paroles">
                <p>Coucou ravie de faire ta connaissance. <br>
                    Tu descends où ? <br>
                    Tu pars pour loisir ou boulot ?</p>
            </div>
    
    
            <div class="elements reponses">
                <p>Bonjour ton profil me plaît bien. Je suis enchanté de faire ta connaissance. Cela te dis d'aller boire un verre ? </p>
            </div>
        <div class="card"></div>
    </div>
    <button>Qui paye le 1er verre ? </button>
    </div>
     -->
     <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">

     
     <button class="btn btn-success" (click)="sendMessage()">Send</button>
     <div class="content">
        <!-- j'affiche les messages que j'ai précédemment push dans la propriété msg de mon MessageService -->
       <div *ngFor="let msg of messageService.msg">
         {{msg.content}}
       </div>
     </div>

     <!-- notification  -->
 <div class="notificationLike" (click)="authService.notificationLike = false" [ngClass]="{'notifLike' : authService.notificationLike}">
    Vous avez été liké par {{authService.lastLikePseudo}}
    
  </div> 
  