<div class="container">
    <div class="grande_box">
        <div class="card">
            <div class="elements">
                <p class="guillemets">''</p>
            </div>
            <div class="photo">
                <img [src]="otherUser.pictures[0].link" alt="hoto">
            </div>
        </div>

        <div class="tchat">
            <!-- afficher les messages reçus du back end -->
            <div class="anciens_messages" *ngFor="let msg of oldMsg">
                {{msg.content}}
            </div>

        <!-- j'affiche les messages que j'ai précédemment push dans la propriété msg de mon MessageService -->
        <div #conversationContainer class="mes_messages" *ngFor="let message of msg" >
            {{message.content}}
        </div>
        </div>

        
        <div class="paroles">
            <textarea class="form-control" type="text" placeholder="message" [(ngModel)]="input" rows="2">
            </textarea>
        </div>
        <button (click)="sendMessage()">Send</button>

    </div>

    <!-- <button>Qui paye le 1er verre ? </button> -->


</div>