

<div class="container">
  <h1>Les profils du train</h1>
  <div class="profilsContainer">
    <!-- si utilisateur est un homme afficher les femmes -->
    <ng-container *ngIf="MyUser.gender === 'M'">
      <app-profil-card *ngFor="let woman of women" 
                       car="Voiture {{woman.car_number}}" 
                       age= "{{woman.date_of_birth | date: 'dd/MM/yyyy'}} " 
                       firstname="{{woman.firstname}}" 
                       picture="{{woman.pictures[0].link}}"
                       id = "{{woman.id}}"
                       >
      </app-profil-card>
    </ng-container>

    <!-- si utilisateur est une femme afficher les hommes -->
    <ng-container *ngIf="MyUser.gender === 'F'">
      <app-profil-card *ngFor="let man of men" 
              car="Voiture   {{man.car_number}}"
              age= "{{man.date_of_birth | date: 'dd/MM/yyyy'}}" 
              firstname="{{man.firstname}}" 
              picture="{{man.pictures[0].link}}"
              id = "{{man.id}}"
              >
      </app-profil-card>
    </ng-container>
  </div>
</div>

<!-- notification  -->
<div class="notificationLike" (click)="authService.notificationLike = false" [ngClass]="{'notifLike' : authService.notificationLike}">
  Vous avez été liké par {{authService.lastLikePseudo}}
  
</div>
