<!-- <div class="container">
  <h1>Les profils du train</h1>
  <div class="profilsContainer">

    
    <app-profil-card car="Voiture 2" age="29 ans" firstname="Alicia" picture="assets/photos/photoalicia.JPG"></app-profil-card>
    <app-profil-card car="Voiture 5" age="50 ans" firstname="Eric" picture="assets/photos/photoeric.JPG"></app-profil-card>
    <app-profil-card car="Voiture 7" age="36 ans" firstname="Sandra" picture="assets/photos/photosandra.JPG"></app-profil-card>
    <app-profil-card car="Voiture 10" age="27 ans" firstname="Razzak" picture="assets/photos/photorazzak.png"></app-profil-card>
    <app-profil-card car="Voiture 2" age="29 ans" firstname="Alicia" picture="assets/photos/photoalicia.JPG"></app-profil-card>
    <app-profil-card car="Voiture 5" age="50 ans" firstname="Eric" picture="assets/photos/photoeric.JPG"></app-profil-card>
    <app-profil-card car="Voiture 7" age="36 ans" firstname="Sandra" picture="assets/photos/photosandra.JPG"></app-profil-card>
    <app-profil-card car="Voiture 10" age="27 ans" firstname="Razzak" picture="assets/photos/photorazzak.png"></app-profil-card>
  </div>

</div> -->

<div class="container">
  <h1>Les profils du train</h1>
  <div class="profilsContainer">
    <!-- si utilisateur est un homme afficher les femmes -->
    <ng-container *ngIf="MyUser.gender === 'M'">
      <app-profil-card *ngFor="let woman of women" 
                       car="Voiture {{woman.voiture}}" 
                       age= "{{woman.age}} ans" 
                       firstname="{{woman.prenom}}" 
                       picture="{{woman.picture}}">
      </app-profil-card>
    </ng-container>

    <!-- si utilisateur est une femme afficher les hommes -->
    <ng-container *ngIf="MyUser.gender === 'F'">
      <app-profil-card *ngFor="let man of men" 
              car="Voiture   {{man.voiture}}"
              age= "{{man.age}} ans" 
              firstname="{{man.prenom}}" 
              picture="{{man.picture}}">
      </app-profil-card>
    </ng-container>
  </div>
</div>

