<div class="container">
    <div class="logo">
        <img class="logoSite" src="assets/images/logoTrain.png" alt="logo du site">
    </div>
    <div class="connexion-inscription">
        <div class="connexion">
            <h2>Connexion</h2>
            <div class="box_input">
                <input class="grey" type="mail" placeholder="Mail">
            </div>
            <div class="box_input">
                <input class="red" type="password" placeholder="Mot de passe">
            </div>
            <div class="box_input">
                <input class="grey" type="text" placeholder="Numero de train">
            </div>
            <button>suivant</button>
        </div>
    </div>
    <div class="inscription">
        <h2>Inscription</h2>
        <div class="box_input">
            <input class="grey" type="text" placeholder="Nom">
        </div>
        <div class="box_input">
            <input class="red" type="text" placeholder="Prénom">
        </div>
        <div class="box_input">
            <input class="grey" type="text" placeholder="Pseudo">
        </div>
        <div class="box_input">
            <input class="red" type="text" placeholder="Date de naissance">
        </div>
        <div class="box_input">
            <input class="grey" type="mail" placeholder="Mail">
        </div>
        <div class="box_input">
            <input class="red" type="password" placeholder="Mot de passe">
        </div>
        <div class="box_input">
            <input class="grey" type="text" placeholder="Sexe">
        </div>
        
           <button>suivant</button>
       
    </div>
    <div class="texte">
        <p class="voyage">Voyage vers l’ Amour <br>
            sans billet retour </p>
    </div>
</div> 
