<div class="container">
    <div class="logo">
        <img class="logoSite" src="assets/images/logoTrain.png" alt="logo du site">
    </div>
    <div class="connexion">
        <h2>Connexion</h2>
        <div class="box_input">
            <input type="mail" placeholder="Mail">
        </div>
        <div class="box_input">
            <input type="password" placeholder="Mot de passe">
        </div>
        <div class="box_input">
            <input type="text" placeholder="Numero de train">
        </div>
        <div class="suivant">
            <input type="submit" placeholder="suivant">
        </div>
    </div>

</div>

<div class="inscription">
    <h2>Inscription</h2>
    <div class="box_input">
        <input type="text" placeholder="Nom">
    </div>
    <div class="box_input">
        <input type="text" placeholder="Prénom">
    </div>
    <div class="box_input">
        <input type="text" placeholder="Pseudo">
    </div>
    <div class="box_input">
        <input type="date" placeholder="Date de naissance">
    </div>
    <div class="box_input">
        <input type="mail" placeholder="Mail">
    </div>
    <div class="box_input">
        <input type="password" placeholder="Mot de passe">
    </div>
    <div class="box_input">
        <input type="text" placeholder="Sexe">
    </div>
    <div class="suivant">
        <input type="submit" placeholder="suivant">
    </div>
<div class="texte">
    <p class="voyage">Voyage vers l’ Amour <br>
         sans billet retour  </p>
        </div>
</div>
