<div class="container">
    <div class="logo">
        <img class="logoSite" src="assets/images/logoTrain.png" alt="logo du site">
    </div>
    <div class="connexion-inscription">
        <div class="connexion">
            <h2>Connexion</h2>
            <div class="box_input">
                <input class="grey" type="mail" placeholder="Mail">
            </div>
            <div class="box_input">
                <input class="red" type="password" placeholder="Mot de passe">
            </div>
            <div class="box_input">
                <input class="grey" type="text" placeholder="Numero de train">
            </div>
            <button>suivant</button>
        </div>
    </div>
    <div class="inscription">
        <h2>Inscription</h2>
        <form [formGroup]="inscriptionForm">

            <input type="text" formControlName="lastname" required placeholder="nom">

            <label>
                <input type="text" formControlName="firstname" required placeholder="prenom">
            </label>
            <label>
                <input type="text" formControlName="pseudo" required placeholder="pseudo">
            </label>
            <label>
                <input type="date" formControlName="date_of_birth" required placeholder="date de naissance">
            </label>
            <label>
                <input type="email" formControlName="mail" required placeholder="mail">
            </label>
            <label>
                <input type="password" formControlName="password" required placeholder="password">
            </label>
            <label>
                <select formControlName="genre" required placeholder="genre">
                    <option value="">-- Sélectionner --</option>
                    <option value="M">Masculin</option>
                    <option value="F">Feminin</option>
                </select>
            </label>
        </form>

            <button (click)="userInscription()">suivant</button>


            <div class="texte">
                <p class="voyage">Voyage vers l’ Amour <br>
                    sans billet retour </p>
            </div>