.container{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.lot{
  display: flex;
  flex-direction:column;
  align-items: center;
   width: 20vh;
  justify-content: center;
  margin-top: 20px;   
}

.blocGallerie{
  display: flex;
  height: auto ;
}

.profilPhoto {
  width: 15vh;
  height: auto;
  border-radius: 15px;
  padding: 5px 5px;
}

.container_mes_Infos{
  display: flex;
  flex-direction: row;
  width: 70%;
   padding: 5px 5px;
  justify-content: space-around;
  background-color: rgba($color: rgb(253, 253, 253), $alpha: 0.8);
   align-items: center;
   border-radius: 10px;
}

ul{
 display: flex;
 flex-direction: column;
align-items: center;
}

li{
line-height: 25px;
}

.coeur{
  height: 4vh;
 display: flex;
 justify-content: center;
}

.coeur:hover{
   background-color: yellow;
  transition: ease-in 0.8s;
}