<div class="container">
  <div class="essai">
    <div class="essai2">
<!-- <img *ngIf="picture !== undefined && picture[0] !== undefined" class="profilPhoto" [src]="picture[0].link" alt=""> -->
<img (click)="sendAtOtherProfil()" class="profilPhoto" [src]="picture" alt="">
</div>


  <div class="encadre">
    <div class="textes">

      <p class="customize">{{pseudo}}</p>
      <p>{{age}}</p>
      <p>{{car}}</p>
    </div>
    <img class="coeur" src="assets/images/coeur.png" alt="like">
</div>
  </div>
</div>