<div class="container">
  <div class="lot">
   <div class="blocGallerie">
     <img (click)="sendAtOtherProfil()" class="profilPhoto" [src]="picture" alt="photo profil">
     <!-- <img *ngIf="picture !== undefined && picture[0] !== undefined" class="profilPhoto" [src]="picture[0].link" alt=""> -->
   </div>

   <div class="container_mes_Infos">
     <ul>
       <li class="pseudo">{{pseudo}}</li>
       <li>{{age}}</li>
       <li>{{car}}</li>
     </ul>
     <div class="container_coeur">
       <img (click)="sendLike(id)" class="coeur" src="assets/images/coeur.png" alt="like"> 
     </div>
             
   </div>  
 </div> 
</div>